/* Universal selector or Global styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #2c3e50;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: #000;
}

.navbar {
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.navbar li :hover {
  border-bottom: 1.5px solid red;
}

.loginReg-wrapper {
  display: flex;
  gap: 1rem;

  button {
    background: #fff;
    padding: 0.55rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
  }

  a {
    color: #000;
    font-weight: bold;
  }
}

.loginReg-wrapper button:hover {
  background-color: aquamarine;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

img {
  width: 50px;
}

/*  Customizing The LINES in button Toggler */
.line {
  width: 100%;
  height: 3px;
  background-color: #000;
  /* The spacing between lines */
  margin-top: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* At DESKTOP Screen Toggle button will be HIDDEN */
.toggleBtn {
  display: none;
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #101010;
}

@media (max-width: 66rem) {
  .toggleBtn {
    z-index: 1000;
    border-radius: 0.5rem;
    /* The spacing around the lines */
    width: 2.3rem;
    height: 2.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 8px;
    background-color: #fff;
    cursor: pointer;
    margin: auto 0;
    /* position: absolute;
    top: 2%;
    right: 3%; */
    transition: 0.3s;
    /* border: none;
                    outline: none; */
  }

  .toggleBtn:hover {
    background-color: #dddd;
  }

  nav {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem;
  }

  /* Customizing my list items  in media query*/
  .navbar {
    background-color: purple;
    opacity: 0.9;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    border-radius: 0 0 0 50%;
    padding-top: 20%;
    transition: 0.3s;
  }

  .navbar li:hover {
    border-bottom: 2px solid red;
  }

  /* animating the line bar to change to X-iCON from toggle-icon */
  .toggleBtn.show .line:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }
  .toggleBtn.show .line:nth-child(2) {
    opacity: 0;
  }
  .toggleBtn.show .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* Enabling the navbar */
  .show {
    right: 0;
  }
}
